<form class="{{cssClass}}" autocomplete="off" xmlns="http://www.w3.org/1999/html">

<!---

  TODO
	target defense (defense, vig, dex, wit, spt saves)

	use flurry
	lighting selector

  indicate status of: deeds, brutal, cleave, deadly?  proficient?
	range band and cover selectors / apply penalty

--->

	<div class="grid grid-4col">
    <div class="box-title" title="{{attackFormula}}">
      <label class="resource-label">Attack: </label>
      <span>{{numberFormat attackRoll.total decimals=0 sign=true}}</span> &nbsp;&nbsp;
    </div>
    <select name="adShift" data-dtype="String" class="item-control item-relocate">
      {{#select adShift}}
      {{#each adLadder as |ad id|}}
        <option value="{{id}}" data-dtype="String">{{ad}}</option>
      {{/each}}
      {{/select}}
    </select>
    <!-- <span class="align-right">Targets: </span>
    <input class="" type="text" name="targets" value="1" data-dtype="Number" /> -->
  </div>

	<div class="grid grid-4col">
    <span class="">Modifiers: </span>
    <input class="grid-span-3" type="text" name="attackModifierFormula" value="" data-dtype="String" />
  </div>

	<div class="box-title" title="{{damageFormula}}">
		<label class="resource-label">Damage: </label>
		<span>{{item.data.damageDie}} + {{damageRoll.total}} {{item.data.damageType}}</span>
	</div>

	<div class="grid grid-4col">
    <span class="">Modifiers: </span>
    <input class="grid-span-3" type="text" name="damageModifierFormula" value="" data-dtype="String" />
  </div>

</form>
