<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>

			<div class="grid grid-2col">
				<div class="resource">
					<label class="resource-label">Cost</label>
					<input type="text" name="data.cost" value="{{data.cost}}" data-dtype="Number" />
				</div>
				<div class="resource">
					<label class="resource-label">Deeds</label>
					<input type="text" name="data.deedsNumber" value="{{data.deedsNumber}}" data-dtype="Number" />
				</div>
			</div>

    </div>
	</header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
		<a class="item" data-tab="attributes">Weapon Mastery</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

		{{!-- Weapon Mastery Tab --}}
		<div class="tab attributes" data-group="primary" data-tab="attributes">

			<ol class="items-list">

				<li class="item flexrow items-header">
					<div class="item-name">Weapon</div>
					<div class="item-prop">Victories</div>
					<div class="item-prop">Damage</div>
					<div class="item-prop">Brutal</div>
					<div class="item-prop">Cleave</div>
					<div class="item-prop">Supremacy</div>
				</li>

				<li class="item flexrow">
					<div class="item-name">Brawling</div>
					<div class="item-prop">
						<input type="number" name="data.mastery.brawling.victories" {{checked data.mastery.brawling.victories}} data-dtype="Number" />
					</div>
					<div class="item-prop">
						<input type="checkbox" name="data.mastery.brawling.brutal" {{data.mastery.brawling.brutal}} data-dtype="Boolean" />
					</div>
					<div class="item-prop">
						<input type="checkbox" name="data.mastery.brawling.cleave" {{data.mastery.brawling.cleave}} data-dtype="Boolean" />
					</div>
					<div class="item-prop">
						<input type="checkbox" name="data.mastery.brawling.damage" {{data.mastery.brawling.damage}} data-dtype="Boolean" />
					</div>
					<div class="item-prop">
						<input type="checkbox" name="data.mastery.brawling.supremacy" {{data.mastery.brawling.supremacy}} data-dtype="Boolean" />
					</div>
				</li>

				<li class="item flexrow">
					<div class="item-name">Great</div>
					<div class="item-prop">
						<input type="number" name="data.mastery.great.victories" {{data.mastery.great.victories}} data-dtype="Number" />
					</div>
					<div class="item-prop">
						<input type="checkbox" name="data.mastery.great.brutal" {{data.mastery.great.brutal}} data-dtype="Boolean" />
					</div>
					<div class="item-prop">
						<input type="checkbox" name="data.mastery.great.cleave" {{data.mastery.great.cleave}} data-dtype="Boolean" />
					</div>
					<div class="item-prop">
						<input type="checkbox" name="data.mastery.great.damage" {{data.mastery.great.damage}} data-dtype="Boolean" />
					</div>
					<div class="item-prop">
						<input type="checkbox" name="data.mastery.great.supremacy" {{data.mastery.great.supremacy}} data-dtype="Boolean" />
					</div>
				</li>

				<li class="item flexrow">
					<div class="item-name">Missile</div>
					<div class="item-prop">
						<input type="number" name="data.mastery.missile.victories" {{data.mastery.missile.victories}} data-dtype="Number" />
					</div>
					<div class="item-prop">
						<input type="checkbox" name="data.mastery.missile.brutal" {{data.mastery.missile.brutal}} data-dtype="Boolean" />
					</div>
					<div class="item-prop">
						<input type="checkbox" name="data.mastery.missile.cleave" {{data.mastery.missile.cleave}} data-dtype="Boolean" />
					</div>
					<div class="item-prop">
						<input type="checkbox" name="data.mastery.missile.damage" {{data.mastery.missile.damage}} data-dtype="Boolean" />
					</div>
					<div class="item-prop">
						<input type="checkbox" name="data.mastery.missile.supremacy" {{data.mastery.missile.supremacy}} data-dtype="Boolean" />
					</div>
				</li>

				<li class="item flexrow">
					<div class="item-name">Pole</div>
					<div class="item-prop">
						<input type="number" name="data.mastery.pole.victories" {{data.mastery.pole.victories}} data-dtype="Number" />
					</div>
					<div class="item-prop">
						<input type="checkbox" name="data.mastery.pole.brutal" {{data.mastery.pole.brutal}} data-dtype="Boolean" />
					</div>
					<div class="item-prop">
						<input type="checkbox" name="data.mastery.pole.cleave" {{data.mastery.pole.cleave}} data-dtype="Boolean" />
					</div>
					<div class="item-prop">
						<input type="checkbox" name="data.mastery.pole.damage" {{data.mastery.pole.damage}} data-dtype="Boolean" />
					</div>
					<div class="item-prop">
						<input type="checkbox" name="data.mastery.pole.supremacy" {{data.mastery.pole.supremacy}} data-dtype="Boolean" />
					</div>
				</li>

				<li class="item flexrow">
					<div class="item-name">Single</div>
					<div class="item-prop">
						<input type="number" name="data.mastery.single.victories" {{data.mastery.single.victories}} data-dtype="Number" />
					</div>
					<div class="item-prop">
						<input type="checkbox" name="data.mastery.single.brutal" {{data.mastery.single.brutal}} data-dtype="Boolean" />
					</div>
					<div class="item-prop">
						<input type="checkbox" name="data.mastery.single.cleave" {{data.mastery.single.cleave}} data-dtype="Boolean" />
					</div>
					<div class="item-prop">
						<input type="checkbox" name="data.mastery.single.damage" {{data.mastery.single.damage}} data-dtype="Boolean" />
					</div>
					<div class="item-prop">
						<input type="checkbox" name="data.mastery.single.supremacy" {{data.mastery.single.supremacy}} data-dtype="Boolean" />
					</div>
				</li>

				<li class="item flexrow">
					<div class="item-name">Thrown</div>
					<div class="item-prop">
						<input type="number" name="data.mastery.thrown.victories" {{data.mastery.thrown.victories}} data-dtype="Number" />
					</div>
					<div class="item-prop">
						<input type="checkbox" name="data.mastery.thrown.brutal" {{data.mastery.thrown.brutal}} data-dtype="Boolean" />
					</div>
					<div class="item-prop">
						<input type="checkbox" name="data.mastery.thrown.cleave" {{data.mastery.thrown.cleave}} data-dtype="Boolean" />
					</div>
					<div class="item-prop">
						<input type="checkbox" name="data.mastery.thrown.damage" {{data.mastery.thrown.damage}} data-dtype="Boolean" />
					</div>
					<div class="item-prop">
						<input type="checkbox" name="data.mastery.thrown.supremacy" {{data.mastery.thrown.supremacy}} data-dtype="Boolean" />
					</div>
				</li>

				<li class="item flexrow">
					<div class="item-name">Exotic</div>
					<div class="item-prop">
						<input type="number" name="data.mastery.exotic.victories" {{data.mastery.exotic.victories}} data-dtype="Number" />
					</div>
					<div class="item-prop">
						<input type="checkbox" name="data.mastery.exotic.brutal" {{data.mastery.exotic.brutal}} data-dtype="Boolean" />
					</div>
					<div class="item-prop">
						<input type="checkbox" name="data.mastery.exotic.cleave" {{data.mastery.exotic.cleave}} data-dtype="Boolean" />
					</div>
					<div class="item-prop">
						<input type="checkbox" name="data.mastery.exotic.damage" {{data.mastery.exotic.damage}} data-dtype="Boolean" />
					</div>
					<div class="item-prop">
						<input type="checkbox" name="data.mastery.exotic.supremacy" {{data.mastery.exotic.supremacy}} data-dtype="Boolean" />
					</div>
				</li>

			</ol>

		</div>

		{{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor content=data.description target="data.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

	</section>

</form>
